html {
  background: url(img/background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}

hr {
  float: left;
  width: 10%;
  height: 2px;
  color: #49abfe;
  background-color: #49abfe;
  border: none;
}
footer {
  color: #a7b3cb;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 45%;

}

input{
  color:#8495b7;
  border:0px;
  border-bottom:1px solid;
  width: 100%;
}
input:focus {
  outline:none;
}
#user_logo, #user_email,#user_pwd{
  display:none;
  float:right;
  margin-top:5%;
}
#user_non, #user_email_non,#user_pwd_non{
  margin-top:5%;
  float: right;
}
#user_logo1, #user_email1,#user_pwd1{
  display:none;
  float:right;
  margin-top:5%;
}
#user_non1, #user_email_non1,#user_pwd_non1{
  margin-top:5%;
  float: right;
}

#white-square{
  position: absolute;
  top: 120px;
  left:260px;
  margin-bottom: 0;
}
.signup-form{
  position: absolute;
  top:139px;
  left:250px;
}

.signup-blue, .signup-blue2 {
  opacity: 0.9;
  background-color: #1b2347;
  padding: 30px 50px 50px 60px;
  padding-top:48px;
  padding-bottom: 77px;
  width: 360px;
  display: inline-block;
  margin-right: -4.6px;
}
.signup-blue2{
  padding-top:66.6px;
  margin-bottom: 90px;
}
.signup-white {
  position: absolute;
  top: 100px;
  left:260px;
  padding: 50px 50px 70px 70px;
  width: 370px;
  padding-bottom: 80px;
  border: 0;
}
.login-white{
  display: none;
  opacity: 0;
  position: absolute;
  top: 100px;
  left:260px;
  padding: 90px 50px 70px 70px;
  width: 370px;
  padding-bottom: 100px;
  border: 0;
}
h1 {
  font-weight:normal;
  font-size: 28px;
  color: #3e495e;
}
h4{
  color:#8495b7;
  font-weight:normal;
  font-size: 16px;
  margin-bottom:5%;

}
a{
  color:#8495b7;
  font-weight:normal;
  font-size: 16px;
  text-decoration:none;
  float:right;
  margin-top:5%;
}
h2 {
  font-weight:normal;
  font-size: 28px;
  color: white;
}
h5{
  color:white;
  font-weight:normal;
  font-size: 16px;
  margin-bottom:5%;

}
#button-sign,#button-login1{
  width: 120px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color: #f89a35;
  border: none;
  color:white;
  border-radius: 50px;;
  font-size: 13px;
  padding:17px 35px 17px 35px;
  margin-top: 10px;
}
#button-sign:hover,#button-login1:hover{
  background-color: #f8bf35;
}

#button-login, #button-register{
  width: 124px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  border: 2px solid #49abfe;
  background-color: #1b2347;
  color:white;
  border-radius: 50px;
  font-size: 13px;
  padding:17px 35px 17px 35px;
  margin-top: 10px;
}
#button-register:hover,#button-login:hover{
  background-color: #49abfe;
  outline:none;
}
#button-register:focus,#button-login:focus {outline:0;}
#logo {
  margin-top: -13%;
  float: right;
}
#logo1 {
  margin-top: -13%;
  float: right;
}
@media screen and (max-width: 1185px) {
  footer{
    margin-top:120%;
    margin-bottom: 5%;
  }
}
